.table {
  table-layout: fixed; 
  width: 60%;
  margin-left: 20%;
}

th {
  height: 35px;
  background-color: #191919;
  color: #FDF3E7;
}

td {
  padding: 15px;
  word-wrap:break-word;
  background-color: #DFE2DB;
  color: #191919;
}

.centered-td {
  text-align: center;
}

.header-text, .no-domain {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.domain-name {
  font-weight: bold
}

table {
  margin-bottom: 20px;
}
